<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../assets/img/ico.png" type="image/x-icon">
    <title>Colaboraciones</title>
    <link rel="stylesheet" href="../assets/styles/nav-ft.css">
    <link rel="stylesheet" href="../assets/styles/colaboracion.css">
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/img/ico.png"/>
            </a>
            <p CLASS="txtT">PUNCHALL</p>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
            <li><a href="Servicios.html">Servicios</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="ResponsabilidadSocial.html">Responsabilidad Social</a></li>
            <li><a href="Colaboracion.html">Oportunidad de Colaboración</a></li>
            <li><a href="Contacto.html">Contacto</a></li>
            <li><a href="PF.html">Preguntas Frecuentes</a></li>
        </ul>
        <div class="color-mode-container">
            <select id="colorMode" class="color-mode-select">
                <option value="normal">Modo Normal</option>
                <option value="deuteranopia">Deuteranopía</option>
                <option value="protanopia">Protanopía</option>
                <option value="tritanopia">Tritanopía</option>
            </select>
        </div>
        <div class="burger" id="burger" onclick="toggleMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>
</header>
<!---COLAB--->

<section class="donaciones-apoyo">
    <div class="container">
        <h1 class="titu" id="donacion">Donaciones y Apoyo</h1>
        <p>En Punchall, cada donación y gesto de apoyo tiene un impacto directo en nuestra misión de promover un entorno inclusivo en el mundo de la tecnología. Tu contribución nos ayuda a seguir desarrollando proyectos innovadores y a brindar oportunidades a personas talentosas con diversas capacidades.</p>

        <div class="content-wrapper">
            <!-- Sección de Donaciones -->
            <div class="donaciones">
                <div class="content-left">
                    <img src="../assets/img/dn1.png" alt="Donaciones" class="content-img">
                </div>
                <div class="content-right">
                    <h2>Donaciones</h2>
                    <p><strong>Contribuye al Cambio</strong></p>
                    <p>Tu donación es fundamental para mantener y expandir nuestras iniciativas inclusivas. Al contribuir, ayudas a financiar programas de formación, desarrollar herramientas accesibles, y mejorar nuestro entorno de trabajo.</p>
                    <h3>Formas de Donar:</h3>
                    <ul>
                        <li><strong>Donaciones Únicas:</strong> Realiza una donación puntual a través de nuestra plataforma segura en línea.</li>
                        <li><strong>Donaciones Recurrentes:</strong> Opta por hacer una donación mensual o anual para brindarnos un apoyo continuo.</li>
                        <li><strong>Donaciones en Especie:</strong> También aceptamos donaciones en forma de equipos, software o servicios.</li>
                    </ul>
                </div>
            </div>

            <!-- Sección de Apoyo Corporativo -->
            <div class="apoyo-corporativo">
                <div class="content-left">
                    <img src="../assets/img/apc.png" alt="Apoyo Corporativo" class="content-img">
                </div>
                <div class="content-right">
                    <h2>Apoyo Corporativo</h2>
                    <p><strong>Patrocina Nuestros Proyectos</strong></p>
                    <p>Empresas y organizaciones pueden colaborar con Punchall patrocinando proyectos específicos que promuevan la inclusión en el ámbito tecnológico.</p>
                    <h3>Modalidades de Apoyo Corporativo:</h3>
                    <ul>
                        <li><strong>Patrocinios Directos:</strong> Financia un proyecto o evento alineado con los objetivos de tu empresa.</li>
                        <li><strong>Alianzas Estratégicas:</strong> Desarrolla con nosotros programas de largo plazo.</li>
                        <li><strong>Responsabilidad Social Empresarial (RSE):</strong> Integra a Punchall en tu estrategia de RSE.</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Sección separada para "Tu Apoyo" -->
        <div class="seccion-apoyo">
            <h2>Tu Apoyo es Clave</h2>
            <p>Tu apoyo, ya sea a través de una donación personal o de un patrocinio corporativo, es crucial para que Punchall siga avanzando en su misión de crear un futuro más inclusivo en el sector tecnológico. Con tu ayuda, podemos continuar desarrollando proyectos innovadores, formar a más profesionales talentosos, y abrir nuevas oportunidades para todos. ¡Gracias por ser parte del cambio!</p>
        </div>
    </div>
    <div class="bubbles"></div>
</section>
<!---FIN COL--->

<!---COLAB 2-->
<section class="section-collaborate">
    <div class="container">
        <h2 class="titulo" id="comocolaborar">Cómo Colaborar con Punchall</h2>
        <p>En Punchall, creemos en la fuerza del trabajo colaborativo para construir un futuro más inclusivo y accesible. Tu colaboración puede marcar una diferencia significativa en nuestra misión de empoderar a profesionales talentosos y diversos en el ámbito de la tecnología. Aquí te explicamos cómo puedes unirte a nuestra causa:</p>

        <div class="collaborate-list">
            <!-- Donaciones -->

            <div class="collaborate-item">
                <h3>1. Contratación de Servicios</h3>
                <p><strong>Contrata Nuestros Servicios</strong></p>
                <p>Colabora con Punchall contratando nuestros servicios de desarrollo de software, aplicaciones móviles, y consultoría. Obtendrás soluciones tecnológicas de alta calidad y apoyarás nuestro modelo inclusivo.</p>
                <h4>Nuetros Servicios Mas Resatantes</h4>
                <ul>
                    <li>Desarrollo de Software.</li>
                    <li>Creación de Páginas Web.</li>
                    <li>Consultoria.</li>
                </ul>
                <a href="Servicios.html" class="collaborate-button">Contratar Servicios</a>
            </div>
            <!-- Patrocinios -->
            <div class="collaborate-item">
                <h3>2. Patrocinios</h3>
                <p><strong>Apoya Nuestros Proyectos</strong></p>
                <p>Empresas y organizaciones tienen la oportunidad de patrocinar proyectos específicos que alineen con sus valores y objetivos. Al asociarte con Punchall, demuestras tu compromiso con la inclusión.</p>
                <h4>Beneficios para Patrocinadores:</h4>
                <ul>
                    <li>Reconocimiento en nuestra página web y materiales promocionales.</li>
                    <li>Oportunidades de co-branding.</li>
                    <li>Informes de impacto detallados.</li>
                </ul>
                <a href="Colaboracion.html" class="collaborate-button">Patrocinar Ahora</a>
            </div>

            <!-- Voluntariado -->
            <div class="collaborate-item">
                <h3>3. Voluntariado</h3>
                <p><strong>Participa Activamente</strong></p>
                <p>Únete a nosotros como voluntario y ofrece tu tiempo y habilidades para apoyar en proyectos clave, capacitaciones, y eventos comunitarios.</p>
                <h4>Oportunidades de Voluntariado:</h4>
                <ul>
                    <li>Formación en tecnologías accesibles.</li>
                    <li>Participación en eventos y talleres.</li>
                    <li>Apoyo en el desarrollo de proyectos.</li>
                </ul>
                <a href="Colaboracion.html" class="collaborate-button">Voluntariarse Ahora</a>
            </div>

            <!-- Alianzas Estratégicas -->
            <div class="collaborate-item">
                <h3>4. Alianzas Estratégicas</h3>
                <p><strong>Crea un Impacto Sostenible</strong></p>
                <p>Formar una alianza estratégica con Punchall significa trabajar juntos para desarrollar soluciones innovadoras y sostenibles que favorezcan la inclusión y el acceso a la tecnología.</p>
                <h4>Áreas de Colaboración:</h4>
                <ul>
                    <li>Desarrollo de software inclusivo.</li>
                    <li>Programas de formación y empleabilidad.</li>
                    <li>Proyectos de investigación en accesibilidad.</li>
                </ul>
                <a href="Colaboracion.html" class="collaborate-button">Crear Alianza</a>
            </div>

            <div class="last-collaborate-item">
                <div class="collaborate-item">
                    <h3>5. Donaciones</h3>
                    <p><strong>Contribuye a Nuestra Causa</strong></p>
                    <p>Tu donación nos permite continuar desarrollando un entorno de trabajo accesible y proporcionar las herramientas necesarias para que personas con talentos diversos puedan brillar en el campo de la tecnología.</p>
                    <h4>Cómo Donar:</h4>
                    <ul>
                        <li>Realiza tu donación a través de nuestro sitio web.</li>
                        <li>Contacta con nosotros para explorar otras opciones.</li>
                    </ul>
                    <a href="https://www.paypal.com/ncp/payment/JRRHG5PHGBTCY" class="collaborate-button">Donar Ahora</a>
                </div>
            </div>

            <!-- Contratación de Servicios -->


            <p class="final-note">¡Juntos podemos crear un futuro más accesible para todos!</p>
    </div>
    </div>
</section>

<!---FIN COLAB 2--->


<!----FOOTER------>
<footer class="footer__container">
    <div class="footer__content">
        <div class="footer__logo">
            <a href="../index.html"><img src="../assets/img/ico.png" alt="Punchall Logo">
            </a>
            <p class="paf">Punchall</p>
        </div>
        <div class="footer__links">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
                <li><a href="Servicios.html">Servicios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
                <li><a href="PF.html">Preguntas Frecuentes</a></li>
            </ul>
        </div>
        <div class="footer__services">
            <h4>Servicios</h4>
            <ul>
                <li><a href="Servicios.html">Desarrollo de Software</a></li>
                <li><a href="Servicios.html">Aplicaciones Móviles</a></li>
                <li><a href="Servicios.html">Creación de Páginas Web</a></li>
                <li><a href="Servicios.html">Consultorías</a></li>
                <li><a href="Servicios.html">Soporte</a></li>
            </ul>
        </div>
        <div class="footer__services">
            <h4>Responsabilidad Social</h4>
            <ul>
                <li><a href="equipo.html">Diversidad e Inclusión</a></li>
                <li><a href="equipo.html">Nuestro Equipo</a></li>
                <li><a href="ResponsabilidadSocial.html">Iniciativas Inclusivas</a></li>
                <li><a href="Colaboracion.html">Colaboraciones</a></li>
                <li><a href="PF.html">Cómo Colaborar con Punchall</a></li>
            </ul>
        </div>

        <div class="footer__social">
            <h4>Síguenos</h4>
            <div class="social__icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/punchall-sac-7a2020332/"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/51934082901" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="footer__bottom">
        <p>&copy; 2024 Punchall. Todos los derechos reservados.</p>
    </div>
</footer>
<!----FIN FOOTER------>


<script src="../assets/js/main.js"></script>

</body>
</html>
