<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contacto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../assets/img/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/styles/nav-ft.css">
    <link rel="stylesheet" href="../assets/styles/Contacto.css">
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/img/ico.png"/>
            </a>

            <p CLASS="txtT">PUNCHALL</p>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
            <li><a href="Servicios.html">Servicios</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="ResponsabilidadSocial.html">Responsabilidad Social</a></li>
            <li><a href="Colaboracion.html">Oportunidad de Colaboración</a></li>
            <li><a href="Contacto.html">Contacto</a></li>
            <li><a href="PF.html">Preguntas Frecuentes</a></li>
        </ul>
        <div class="color-mode-container">
            <select id="colorMode" class="color-mode-select">
                <option value="normal">Modo Normal</option>
                <option value="deuteranopia">Deuteranopía</option>
                <option value="protanopia">Protanopía</option>
                <option value="tritanopia">Tritanopía</option>
            </select>
        </div>
        <div class="burger" id="burger" onclick="toggleMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>
</header>
<!-- Contacto-->

<div class="contact-form-wrapper">
    <div class="container">
        <div class="contact-section">
            <h1 class="tit">Contacto</h1>
            <div class="contact-form">
                <h2>Envíanos un Mensaje</h2>
                <form id="contactForm">
                    <input type="text" id="name" placeholder="Nombre" required>
                    <input type="email" id="email" placeholder="Correo Electrónico" required>
                    <textarea id="message" placeholder="Mensaje" rows="4" required></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>

        <div class="image-container">
            <img src="../assets/img/CNT/contact.png" alt="Decorative Image">
        </div>
        <div class="bubble bubble1"></div>
        <div class="bubble bubble2"></div>
        <div class="bubble bubble3"></div>
        <div class="bubble bubble4"></div>
        <div class="bubble bubble5"></div>
        <div class="bubble bubble6"></div>
        <div class="bubble bubble7"></div>
    </div>
</div>


<!----FOOTER------>
<footer class="footer__container">
    <div class="footer__content">
        <div class="footer__logo">
            <a href="index.html"><img src="../assets/img/ico.png" alt="Punchall Logo">
            </a>
            <p class="paf">Punchall</p>
        </div>
        <div class="footer__links">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
                <li><a href="Servicios.html">Servicios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
                <li><a href="PF.html">Preguntas Frecuentes</a></li>
            </ul>
        </div>
        <div class="footer__services">
            <h4>Servicios</h4>
            <ul>
                <li><a href="Servicios.html">Desarrollo de Software</a></li>
                <li><a href="Servicios.html">Aplicaciones Móviles</a></li>
                <li><a href="Servicios.html">Creación de Páginas Web</a></li>
                <li><a href="Servicios.html">Consultoría</a></li>
                <li><a href="Servicios.html">Soporte</a></li>
            </ul>
        </div>
        <div class="footer__services">
            <h4>Responsabilidad Social</h4>
            <ul>
                <li><a href="equipo.html">Diversidad e Inclusión</a></li>
                <li><a href="equipo.html#nuestroequipo">Nuestro Equipo</a></li>
                <li><a href="ResponsabilidadSocial.html">Iniciativas</a></li>
                <li><a href="Colaboracion.html#donacion">Donaciones</a></li>
                <li><a href="Colaboracion.html#comocolaborar">Cómo Colaborar</a></li>
            </ul>
        </div>

        <div class="footer__social">
            <h4>Síguenos</h4>
            <div class="social__icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/punchall-sac-7a2020332/"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/51934082901" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="footer__bottom">
        <p>&copy; 2024 Punchall. Todos los derechos reservados.</p>
    </div>
</footer>
<!----FIN FOOTER------>

<!--Fin contacto--->
<script src="../assets/js/main.js"></script>
<!--mail-->
<script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script>
    (function() {
        emailjs.init("TU_USER_ID");
    })();
</script>


</body>
</html>