<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Equipo y Diversidad</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../assets/img/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/styles/nav-ft.css">
    <link rel="stylesheet" href="../assets/styles/equipo.css">
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/img/ico.png"/>
            </a>

            <p CLASS="txtT">PUNCHALL</p>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
            <li><a href="Servicios.html">Servicios</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="ResponsabilidadSocial.html">Responsabilidad Social</a></li>
            <li><a href="Colaboracion.html">Oportunidad de Colaboración</a></li>
            <li><a href="Contacto.html">Contacto</a></li>
            <li><a href="PF.html">Preguntas Frecuentes</a></li>
        </ul>
        <div class="color-mode-container">
            <select id="colorMode" class="color-mode-select">
                <option value="normal">Modo Normal</option>
                <option value="deuteranopia">Deuteranopía</option>
                <option value="protanopia">Protanopía</option>
                <option value="tritanopia">Tritanopía</option>
            </select>
        </div>
        <div class="burger" id="burger" onclick="toggleMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>
</header>
<!-- Diversidad e Inclusión -->
<section class="diversity-inclusion">
    <div class="container">
        <h2 class="section-title">Diversidad e Inclusión</h2>
        <div class="content-wrapper">
            <div class="bubble-box">
                <div class="bubble-content">
                    <p>
                        <b>La inclusión está en el núcleo de todo lo que hacemos en Punchall. Reconocemos que la diversidad en nuestro equipo no solo enriquece nuestras soluciones tecnológicas, sino que también nos ayuda a comprender y responder mejor a las necesidades de una base de usuarios diversa.
                    </b></p>
                    <p>
                        <b>Nos comprometemos a crear un espacio de trabajo donde todas las personas, sin importar su capacidad, género, origen étnico o identidad, puedan prosperar y alcanzar su máximo potencial. En Punchall, cada proyecto es una oportunidad para demostrar que cuando integramos diferentes perspectivas y experiencias, producimos resultados más innovadores y efectivos.
                    </b></p>
                    <p>
                        <b>Nuestra dedicación a la inclusión se refleja en nuestros productos, nuestro equipo y nuestra visión de un futuro donde la tecnología esté al servicio de todos.
                    </b></p>
                </div>
                <div class="bubbles">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </div>
            <div class="image-side">
                <img src="../assets/img/QUIPO/1.png" alt="Diversidad e Inclusión">
            </div>
        </div>
    </div>
    <div class="bg-effect"></div> <!-- Efecto de fondo interactivo -->
</section>
<!-- FIN Diversidad e Inclusión -->

<!-- Equipo -->
<section class="team-section">
    <div class="container">
        <h2 class="section-title" id="nuestroequipo">Nuestro Equipo</h2>
        <div class="team-content">
            <div class="team-item">
                <div class="team-inner">
                    <div class="team-front">
                        <h3 class="team-title">Diversidad de Talentos</h3>
                        <img src="../assets/img/QUIPO/2.png" alt="Imagen Diversidad" class="team-image">
                    </div>
                    <div class="team-back">
                        <p>Nuestro equipo está compuesto por profesionales con un profundo conocimiento en diversas áreas tecnológicas, incluyendo desarrollo de software, aplicaciones móviles, diseño web, y consultoría en accesibilidad. Cada uno de nosotros aporta un conjunto único de habilidades y una perspectiva fresca, enriqueciendo nuestros proyectos y permitiéndonos abordar desafíos desde múltiples ángulos.</p>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="team-inner">
                    <div class="team-front">
                        <h3 class="team-title">Compromiso con la Inclusión</h3>
                        <img src="../assets/img/QUIPO/3.png" alt="Imagen Inclusión" class="team-image">
                    </div>
                    <div class="team-back">
                        <p>La inclusión es parte fundamental de nuestra identidad. Nos enorgullece ser una empresa donde la mayoría de nuestros miembros son personas con habilidades diversas, quienes no solo han superado barreras, sino que también lideran con su talento y dedicación. Creemos que todos tienen un lugar en la tecnología, y nos esforzamos por crear un ambiente donde cada persona pueda desarrollarse y prosperar.</p>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="team-inner">
                    <div class="team-front">
                        <h3 class="team-title">Trabajo en Equipo</h3>
                        <img src="../assets/img/QUIPO/4.png" alt="Imagen Trabajo en Equipo" class="team-image">
                    </div>
                    <div class="team-back">
                        <p>En Punchall, valoramos la colaboración y el apoyo mutuo. Trabajamos juntos para superar desafíos, celebrar logros y aprender unos de otros. Nuestra cultura de equipo se basa en el respeto, la comunicación abierta y el compromiso con la excelencia en cada proyecto.</p>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="team-inner">
                    <div class="team-front">
                        <h3 class="team-title">Innovación Constante</h3>
                        <img src="../assets/img/QUIPO/5.png" alt="Imagen Innovación" class="team-image">
                    </div>
                    <div class="team-back">
                        <p>Nos impulsa la curiosidad y el deseo de explorar nuevas fronteras tecnológicas. Nuestro equipo se mantiene a la vanguardia de las últimas tendencias y avances en el sector, asegurando que las soluciones que ofrecemos estén siempre al día y sean efectivas.</p>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="team-inner">
                    <div class="team-front">
                        <h3 class="team-title">Pasión por la Tecnología y el Impacto Social</h3>
                        <img src="../assets/img/QUIPO/6.png" alt="Imagen Pasión" class="team-image">
                    </div>
                    <div class="team-back">
                        <p>Más allá de nuestras habilidades técnicas, compartimos una pasión común por utilizar la tecnología como una herramienta para el cambio positivo. Nos motiva la posibilidad de impactar vidas a través de nuestras soluciones y contribuir a un mundo más accesible e inclusivo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FIN Equipo -->


<!----FOOTER------>
<footer class="footer__container">
    <div class="footer__content">
        <div class="footer__logo">
            <a href="index.html"><img src="../assets/img/ico.png" alt="Punchall Logo">
            </a>
            <p class="paf">Punchall</p>
        </div>
        <div class="footer__links">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
                <li><a href="Servicios.html">Servicios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
                <li><a href="PF.html">Preguntas Frecuentes</a></li>
            </ul>
        </div>
        <div class="footer__services">
            <h4>Servicios</h4>
            <ul>
                <li><a href="Servicios.html">Desarrollo de Software</a></li>
                <li><a href="Servicios.html">Aplicaciones Móviles</a></li>
                <li><a href="Servicios.html">Creación de Páginas Web</a></li>
                <li><a href="Servicios.html">Consultoría</a></li>
                <li><a href="Servicios.html">Soporte</a></li>
            </ul>
        </div>
        <div class="footer__services">
            <h4>Responsabilidad Social</h4>
            <ul>
                <li><a href="equipo.html">Diversidad e Inclusión</a></li>
                <li><a href="equipo.html#nuestroequipo">Nuestro Equipo</a></li>
                <li><a href="ResponsabilidadSocial.html">Iniciativas</a></li>
                <li><a href="Colaboracion.html#donacion">Donaciones</a></li>
                <li><a href="Colaboracion.html#comocolaborar">Cómo Colaborar</a></li>
            </ul>
        </div>

        <div class="footer__social">
            <h4>Síguenos</h4>
            <div class="social__icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/punchall-sac-7a2020332/"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/51934082901" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="footer__bottom">
        <p>&copy; 2024 Punchall. Todos los derechos reservados.</p>
    </div>
</footer>
<!----FIN FOOTER------>

<script src="../assets/js/main.js"></script>

</body>
</html>
