<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../assets/img/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/styles/nosotros.css">
    <link rel="stylesheet" href="../assets/styles/nav-ft.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/img/ico.png"/>
            </a>

            <p CLASS="txtT">PUNCHALL</p>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
            <li><a href="Servicios.html">Servicios</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="ResponsabilidadSocial.html">Responsabilidad Social</a></li>
            <li><a href="Colaboracion.html">Oportunidad de Colaboración</a></li>
            <li><a href="Contacto.html">Contacto</a></li>
            <li><a href="PF.html">Preguntas Frecuentes</a></li>
        </ul>
        <div class="color-mode-container">
            <select id="colorMode" class="color-mode-select">
                <option value="normal">Modo Normal</option>
                <option value="deuteranopia">Deuteranopía</option>
                <option value="protanopia">Protanopía</option>
                <option value="tritanopia">Tritanopía</option>
            </select>
        </div>
        <div class="burger" id="burger" onclick="toggleMenu()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>
</header>

<!--HISTORIA--->

<section class="nuestra-historia">
    <br><br><br><br>
    <div class="container">
        <h2 class="section-title">Nuestra Historia</h2>
        <p class="section-description">
            En Punchall, nuestra historia es un testimonio de la pasión por la tecnología y el compromiso con la inclusión. Aunque somos un proyecto reciente, nuestra visión nace de una convicción profunda: la tecnología tiene el poder de transformar vidas, y debe ser accesible para todos.
        </p>
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <div class="timeline-content">
                    <h4>El Comienzo</h4>
                </div>
                <p class="event-description">Todo comenzó con la idea de crear un espacio donde la excelencia tecnològica y la inclusión laboral se unieran de manera armoniosa.</p>
            </div>
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <div class="timeline-content">
                    <h4>Fundación de Punchall</h4>
                </div>
                <p class="event-description">Fundado por Ivan Borjas, Punchall nació con el propósito de ofrecer soluciones innovadoras y brindar oportunidades a personas con capacidades diversas.</p>
            </div>
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <div class="timeline-content">
                    <h4>Crecimiento Sostenido</h4>
                </div>
                <p class="event-description">Desde sus inicios, Punchall se ha comprometido con un entorno de trabajo inclusivo, creando soluciones accesibles para todos.</p>
            </div>
            <div class="timeline-item">
                <div class="timeline-circle"></div>
                <div class="timeline-content">
                    <h4>Mirando Hacia el Futuro</h4>
                </div>
                <p class="event-description">Estamos emocionados de seguir creciendo y construyendo un futuro donde la tecnología sea una herramienta de empoderamiento para todos.</p>
            </div>
        </div>
    </div>
</section>


<!--FIN HISTORIA--->


<!-- Valores y Cultura -->
<section class="values-culture">
    <div class="container">
        <h2 class="section-on">Valores y Cultura</h2>
        <div class="values-intro">
            <p class="txt3">
                En Punchall, nuestros valores son el corazón de lo que hacemos y la base de nuestra cultura empresarial. Estamos comprometidos con la creación de un entorno donde la innovación y la inclusión se entrelazan, impulsándonos hacia el futuro con propósito y pasión.
            </p>
        </div>
        <div class="values-content">
            <!-- Tarjeta Inclusividad en Acción -->
            <div class="value-item">
                <div class="card-image">
                    <img src="../assets/img/SN/13.png" alt="Inclusividad en Acción">
                </div>
                <div class="card-content">
                    <h3>Inclusividad en Acción</h3>
                    <p>
                        En Punchall, la inclusión es más que una política; es una práctica diaria. Valoramos profundamente las contribuciones de todos nuestros miembros, especialmente aquellos con habilidades diversas. Nuestro equipo está compuesto principalmente por personas con discapacidades, cada una aportando su experiencia única para enriquecer nuestro trabajo y ofrecer soluciones tecnológicas verdaderamente inclusivas.
                    </p>
                </div>
            </div>

            <!-- Tarjeta Compromiso con la Calidad -->
            <div class="value-item">
                <div class="card-image">
                    <img src="../assets/img/SN/14.png" alt="Compromiso con la Calidad">
                </div>
                <div class="card-content">
                    <h3>Compromiso con la Calidad</h3>
                    <p>
                        La excelencia es fundamental en todo lo que hacemos. Desde el desarrollo de software hasta la creación de aplicaciones móviles y páginas web, nos esforzamos por ofrecer productos y servicios que no solo cumplan con los estándares más exigentes, sino que también superen las expectativas de nuestros clientes.
                    </p>
                </div>
            </div>

            <!-- Tarjeta Innovación Sin Fronteras -->
            <div class="value-item">
                <div class="card-image">
                    <img src="../assets/img/SN/15.png" alt="Innovación Sin Fronteras">
                </div>
                <div class="card-content">
                    <h3>Innovación Sin Fronteras</h3>
                    <p>
                        Creemos que la innovación nace de la creatividad y el pensamiento audaz. Fomentamos un ambiente donde las ideas frescas y las soluciones originales son bienvenidas. Nuestro equipo está motivado para desafiar el status quo y explorar nuevas fronteras tecnológicas.
                    </p>
                </div>
            </div>

            <!-- Tarjeta Accesibilidad como Prioridad -->
            <div class="value-item">
                <div class="card-image">
                    <img src="../assets/img/SN/16.png" alt="Accesibilidad como Prioridad">
                </div>
                <div class="card-content">
                    <h3>Accesibilidad como Prioridad</h3>
                    <p>
                        Nos dedicamos a diseñar y desarrollar soluciones que sean accesibles para todos. Consideramos la accesibilidad no solo como una característica, sino como una necesidad fundamental en cada proyecto que emprendemos, asegurando que nuestras tecnologías sirvan a una audiencia diversa.
                    </p>
                </div>
            </div>

            <!-- Tarjeta Colaboración Respetuosa -->
            <div class="value-item">
                <div class="card-image">
                    <img src="../assets/img/SN/17.png" alt="Colaboración Respetuosa">
                </div>
                <div class="card-content">
                    <h3>Colaboración Respetuosa</h3>
                    <p>
                        La colaboración y el respeto mutuo son esenciales para nuestro éxito. Promovemos un entorno donde cada voz es escuchada y cada idea es considerada. Nuestro equipo trabaja en estrecha colaboración, apoyándose mutuamente para lograr resultados sobresalientes.
                    </p>
                </div>
            </div>

            <!-- Tarjeta Responsabilidad Social y Compromiso Comunitario -->
            <div class="value-item">
                <div class="card-image">
                    <img src="../assets/img/SN/18.png" alt="Responsabilidad Social y Compromiso Comunitario">
                </div>
                <div class="card-content">
                    <h3>Responsabilidad Social y Compromiso Comunitario</h3>
                    <p>
                        Estamos comprometidos a hacer una diferencia en nuestra comunidad y en el mundo en general. A través de nuestras iniciativas y colaboraciones, buscamos promover la inclusión y apoyar causas que resuenen con nuestra misión.
                    </p>
                </div>
            </div>
        </div>
        <div class="values-footer">
            <p class="txt3">
                <b>En Punchall, estos valores no solo definen nuestro enfoque hacia el trabajo, sino que también moldean la manera en que interactuamos con nuestros clientes, colegas y la comunidad en general. Estamos dedicados a construir un futuro donde la tecnología y la inclusión vayan de la mano, creando un impacto positivo y duradero.
            </b></p>
        </div>
    </div>
    <div class="water-effect"></div> <!-- Efecto de gotas de agua -->

</section>
<!-- FIN Valores y Cultura -->

<!----FOOTER------>
<footer class="footer__container">
    <div class="footer__content">
        <div class="footer__logo">
            <a href="../index.html"><img src="../assets/img/ico.png" alt="Punchall Logo">
            </a>
            <p class="paf">Punchall</p>
        </div>
        <div class="footer__links">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="SobreNosotros.html">Sobre Nosotros</a></li>
                <li><a href="Servicios.html">Servicios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
                <li><a href="PF.html">Preguntas Frecuentes</a></li>
            </ul>
        </div>
        <div class="footer__services">
            <h4>Servicios</h4>
            <ul>
                <li><a href="Servicios.html">Desarrollo de Software</a></li>
                <li><a href="Servicios.html">Aplicaciones Móviles</a></li>
                <li><a href="Servicios.html">Creación de Páginas Web</a></li>
                <li><a href="Servicios.html">Consultoría</a></li>
                <li><a href="Servicios.html">Soporte</a></li>
            </ul>
        </div>
        <div class="footer__services">
            <h4>Responsabilidad Social</h4>
            <ul>
                <li><a href="equipo.html">Diversidad e Inclusión</a></li>
                <li><a href="equipo.html#nuestroequipo">Nuestro Equipo</a></li>
                <li><a href="ResponsabilidadSocial.html">Iniciativas Inclusivas</a></li>
                <li><a href="Colaboracion.html#donacion">Donaciones</a></li>
                <li><a href="Colaboracion.html#comocolaborar">Cómo Colaborar</a></li>
            </ul>
        </div>

        <div class="footer__social">
            <h4>Síguenos</h4>
            <div class="social__icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/punchall-sac-7a2020332/"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="https://wa.me/51934082901" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="footer__bottom">
        <p>&copy; 2024 Punchall. Todos los derechos reservados.</p>
    </div>
</footer>
<!----FIN FOOTER------>

<script src="../assets/js/main.js"></script>
</body>
</html>
